* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  /* background-color: rgba(152, 135, 250, 0.349); */
  /* background: radial-gradient(lightseagreen,pink); */
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#card {
  height: 490px;
  width: 310px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
  text-align: center;
}
#card img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  border: 3px solid rgba(0, 0, 0, 0.692);
}
#card h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#card p {
  font-family: cursive;
  font-size: 17px;
  font-weight: 600;
  color: #555;
}
#card h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
#card h5 {
  font-size: 25px;
  /* color:salmon; */
  font-family: Arial, Helvetica, sans-serif;
}
.Strangers {
  color: salmon;
}
.Friends {
  color: lightseagreen;
}
#card button {
  padding: 12px 25px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(255, 105, 180, 0.705);
  border-radius: 50px;
  border: none;
}
